{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 89 Fikri</title>
{% endblock meta %}
{% block content %}
<div class="allcontent">
  <form method="GET" class="form" action="volumes">
    {% csrf_token %}
    <div class="form-group">
      {% if user.is_authenticated %}
      <label for="status" class="labelsearch"
        >Hey {{ request.user.username }}, do you wanna search some
        books?</label
      >
      {% else %}
      <label for="status" class="labelsearch"
        >Hey Anonymous, do you wanna search some books? login dulu
        please</label
      >
      {% endif %}
      <input
        type="text"
        class="form-control"
        id="searchfield"
        placeholder="search your books"
        name="searchfield"
      />
    </div>

    {% if user.is_authenticated %}
    <button type="submit" class="btn btn-primary" id="submit">Search</button>
    <a
      class="btn btn-danger"
      href="{% url 'story9fikri:SignOut' %}"
      id="text-nav-oauth"
      >Sign Out</a
    >
    {% else %}
    <a
      class="btn btn-success"
      href="{% url 'story9fikri:SignIn' %}"
      id="text-nav-oauth"
      >Sign In</a
    >
    {% endif %}
    <div id="log-button"></div>
  </form>
</div>

<div class="container mt-5">
  <h1 class="keyword-results">Results</h1>
</div>

<div id="book-results-table" class="table-responsive">
  <div class="container mt-5">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="align-middle" scope="col">No.</th>
          <th class="align-middle" scope="col">Book Information</th>
          <th class="align-middle" scope="col">Cover</th>
        </tr>
      </thead>
      <tbody id="results"></tbody>
    </table>
  </div>
</div>

  {% endblock content %} 
