.btn{
  background: #9fd7d1;
  border: 0.5vw solid #1a838a;
  border-radius: 1.2vw;
  font-size: medium;
  padding:0%;
}

.card-header{
  border: 0.5vw solid #2B2D42;
}

nav{
  background:  #1a838a;
  color: #9fd7d1;
}

p{
  font-family: 'Courier New', Courier, monospace;
  color : #111111
}

.sort-up, .sort-down{
  margin-right: 1rem;
  float: right;
}
#container{
  margin-top: 2rem;
  background: #9fd7d1;
}

#allcontent{
  margin-top: 2rem;
  background: #9fd7d1;
}

.table-responsive{
  margin-top: 2rem;
  background: #9fd7d1;
}

#head{
  margin-top: 1rem;
  background: #1a838a;
  color: #9fd7d1;
  border-radius: 10px;
  outline: none;
  font-size:large;
}
#content{
  margin-top: 1rem;
  background: #9fd7d1;
  color:  #1a838a;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: x-large;
}

#judul{
  margin-left: auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 600px){
  #head{
    margin-top: 1rem;
    background: #1a838a;
    color: #9fd7d1;
    border-radius: 10px;
    outline: none;
    font-size: large;
  }
  #content{
    margin-top: 1rem;
    background: #9fd7d1;
    color:  #1a838a;
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: medium;
  }
}
