{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7 Fikri</title>
{% endblock meta %}
{% block content %}

<div class="container" id="container">
  <div class="row" id="judul">
    <h1>Halo,<br>
        Hi! It's Achmad Fikri Adidharma, Sophomore at University of Indonesia.<br>Ready to get to know me more?
  </div>
  <div id="accordion">
    <div class="group" data-sort="0">
      <div id="head">
        <p> My Profile
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        </p>
      </div>
      <div id="content">
        <p>
            I am a highly motivated sophomore computer science student. I'm excited to learn new things not only limited to my major in
            computer science. I am currently interested to data analytics and business consulting. Hence, I decide to join business club and took
            some online courses related to piqued my curiousity. I'm a forever learner and I eager and enjoy to do things on my job.
        </p>
      </div>
    </div>

    <div class="group" data-sort="1">
      <div id="head">
        <p> Experience
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        </p>
      </div>
      <div id="content">
        <p>
            <b>Staff of Bazaar</b><br> PERAK FASILKOM UI<br><b>Member of Business Intelligence SIG</b><br>SISTEM FASILKOM UI<br><b>Staff of Event</b><br> PMB FASILKOM UI
        </p>
      </div>
    </div>

    <div class="group" data-sort="2">
      <div id="head">
        <p> Education
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        <p>
      </div>
      <div id="content">
        <p>
            SMPN 3 Jember<br>SMAN 1 Jember<br>S1 Ilmu Komputer Universitas Indonesia
        </p>
      </div>
    </div>

    <div class="group" data-sort="3">
      <div id="head">
        <p> Contact Me At
          <button class="sort-up"><img src="{% static 'img/chevron-up.svg' %}"></button> 
          <button class="sort-down"><img src="{% static 'img/chevron-down.svg' %}"></button>
        <p>
      </div>
      <div id="content">
        <p>
            Instagram : @fikriadidharma<br>LinkedIn : achmad fikri adidharma<br>Email : achmad.fikri91@ui.ac.id
        </p>
        
    </div>

  </div>
  
</div>
{% endblock content %} 